.videos {
  padding: 40px 30px;
}



.videos__div {
  display: flex;
  align-items: center;
}

.videos__href {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.videos__buttons {
  margin-left: 800px;

}

.videos__slide-btn {
  background: none;
  border: none;
}

.videos__subsciption {
  margin: 0;
  margin-left: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}

.videos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
}
.videos__item {
  width: 250px;
  position: relative;
}

.videos__nav-link {
  text-decoration: none;
}

.videos__item:not(:first-child) {
  margin-left: 40px;
}

.videos__img {
  width: 250px;
  height: 150px;
  border-radius: 14px;
}

.videos__btn {
  position: absolute;
  top: 10px;
  left: 210px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.videos__span {
  position: absolute;
  padding: 0 9px;
  color: #ffffff;
  border-radius: 14px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  right: 10px;
  bottom: 60px;
}
.videos__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #19202C;
}

.videos__texts {
  display: flex;
  align-items: center;
}

.videos__text {
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;

  &--day {
    margin-left: 20px;
  }

  &--name {
    margin-left: auto;
  }
}

@media only screen and (max-width: 1320px) {
  .videos__item:nth-child(2) {
    display: none;
  }
}